.packages-list {
  padding: 0 15px;
  background-color: #1a1a1a;
}

.packages-list .ant-list-item {
  padding: 15px 0 0 0;
  border: none;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid #3A4143;
}
