.package-item {
  background-color: #212C30;
  color: white;
  border: none;
}

.package-item .ant-card-body {
  padding: 0;
  margin: 0 10px;
}

.package-intro-container {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  flex-wrap: nowrap;
}

.package-intro-container img {
  margin-right: 15px;
  flex-basis: 100px;
}

.package-intro-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.package-title,
.package-intro-container p {
  margin: 0;
}

.package-title {
  font-size: 28px;
  color: white;
}

.package-intro {
  display: flex;
  align-items: center;
}

.package-intro .ant-divider.ant-divider-vertical {
  margin: 0 20px;
  border-left: 1px solid #686A6B;
}

.package-options button {
  padding: 0;
  margin-right: 30px;
  color: #269EEA;
}

.package-item .ant-tabs-nav {
  color: white;
}

.package-item .ant-tabs-tab:hover {
  color: #269EEA;
}

.package-item .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #269EEA;
}

.package-item .ant-tabs-ink-bar {
  background-color: #269EEA;
}
